* {
    margin: 0px;
    border: none;
    padding: 0px;
}
body {
    background-color: grey;
}
.banner {
    height: 700px;
    background: black url(/images/mainBackground.jpg);
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    white-space: nowrap;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 120px), 50% calc(100% - 10px), 0 calc(100% - 120px));
}
.bannerBackground {
    width: 100%;
    height: 8000px;
    background: black;
    z-index: -1;
    position: absolute;
    bottom: 20px;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 120px), 50% calc(100% - 10px), 0 calc(100% - 120px));
}
.banner:before {
    content: '\00a0';
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
.banner:after {
    content: '\00a0';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.banner > hgroup {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    white-space: normal;
    z-index: 100;
    text-align: center;
    width: 100%;
}
hgroup > h1 {
    color: #fff;
    font: 100 48px/60px;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px rgb(0,0,0,0.25);
    font-family: 'Courier Prime', monospace;
    font-size: 80px;
}
hgroup > h2 {
    color: #fff;
    font: 100 30px/36px arial;
    text-transform: capitalize;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
hgroup > a {
    display: inline-block;
    background-color: dimgrey;
    border-radius: 24px;
    margin: 12px 0 0 0;
    padding: 9px 24px;
    color:#fff;
    font: 500 24px/36px arial;
    text-transform: uppercase;
    text-decoration: none;
}
hgroup > a:hover{
    background-color: darkorange;
}
.graph-container {
    position: relative;
    top: 20px;
}
li {
    background-color: black;
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 100px
}

li > img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
}
li > hgroup > h2 {
    font-family: 'Kiwi Maru', serif;
}
.graph-content {
    text-align: center;
}
@media all and (max-width: 800px) {
    li {
        width: 45%;
    }
}
@media all and (min-width: 800px) {
    li {
        width: 30%;
    }
}